.DS_Store
._*
.metadata
.settings
*.o
*.so
.classpath
.project
*~
*~.nib
*~.xib
*.out
bin/
include
lib/
log
testdir/
local/
*.xcworkspace
xcuserdata
CVS
.svn
*.mode1v3
*.pbxuser

/eblib/*
!/eblib/*-patch


