<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hosts</key>
	<array>
		<string>dic.yahoo.co.jp</string>
		<string>rd.yahoo.co.jp</string>
	</array>
	<key>InputEncoding</key>
	<string>UTF-8</string>
	<key>SearchMethods</key>
	<array>
		<dict>
			<key>SearchID</key>
			<integer>0</integer>
			<key>SearchURL</key>
			<string>http://dic.yahoo.co.jp/dsearch</string>
			<key>Template</key>
			<string>?ei=UTF-8&amp;p={searchTerms}&amp;fr=dic&amp;stype=prefix</string>
			<key>Title</key>
			<string>で始まる</string>
		</dict>
		<dict>
			<key>SearchID</key>
			<string>1</string>
			<key>SearchURL</key>
			<string>http://dic.yahoo.co.jp/dsearch</string>
			<key>Template</key>
			<string>?ei=UTF-8&amp;p={searchTerms}&amp;fr=dic&amp;stype=suffix</string>
			<key>Title</key>
			<string>で終わる</string>
		</dict>
		<dict>
			<key>SearchID</key>
			<string>64</string>
			<key>SearchURL</key>
			<string>http://dic.yahoo.co.jp/dsearch</string>
			<key>Template</key>
			<string>?ei=UTF-8&amp;p={searchTerms}&amp;fr=dic&amp;stype=exact</string>
			<key>Title</key>
			<string>に一致する</string>
		</dict>
		<dict>
			<key>SearchID</key>
			<string>65</string>
			<key>SearchURL</key>
			<string>http://dic.yahoo.co.jp/dsearch</string>
			<key>Template</key>
			<string>?ei=UTF-8&amp;p={searchTerms}&amp;fr=dic&amp;stype=partial</string>
			<key>Title</key>
			<string>を含む</string>
		</dict>
		<dict>
			<key>SearchID</key>
			<string>66</string>
			<key>SearchURL</key>
			<string>http://dic.yahoo.co.jp/dsearch</string>
			<key>Template</key>
			<string>?ei=UTF-8&amp;p={searchTerms}&amp;fr=dic&amp;stype=full</string>
			<key>Title</key>
			<string>を解説に含む</string>
		</dict>
	</array>
	<key>ShortName</key>
	<string>Yahoo!辞書(全部)</string>
	<key>title</key>
	<string>Yahoo!辞書(全部)</string>
	<key>Version</key>
	<real>1</real>
</dict>
</plist>
